/* CoinCard */
.coin-card {
    border: 1px solid rgb(214, 214, 214);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.coin-card h5,
.coin-card p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

.coin-card img {
    display: block;
    width: 40%;
    margin: 4px auto;
}

/* Coin Details */
.text-red {
    color: red;
}

.text-green {
    color: green;
}

.listGroup {
    justify-content: center;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}